# Elasticsearch 연결 설정
ELASTICSEARCH_URL=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=

# Kibana 연결 설정
KIBANA_URL=
KIBANA_USERNAME=
KIBANA_PASSWORD=

# 기본 인덱스 설정
DEFAULT_INDEX=

# Kibana_converter.py에서의 세부 설정
DETECTION_RULE_TIME_RANGE=now-70m
DETECTION_RULE_INTERVAL=5m
DETECTION_RULE_MAX_SIGNALS=100

#sigma 설치 위치
SIGMA_CLI_PATH=